/test.class
/Objects.class
/Objects$Unit.class
/Objects$Human.class
/Objects$Alien.class
/Objects$Human$Alien.class
/TestBoard.class
/Object$Alien.class
/Object$Human.class
/Object$Unit.class
/Object.class
